body {
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
  font-size: .8em;
  /*color: #fff;
  background-color: #000;*/
}

h1 {
  font-weight: 200;
  font-size: 4em;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}

/* Greeting */
.greeting {
  text-align: center;
  padding-bottom: 50px;
}


/* Google Trends*/
.google_trends {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  text-align: center;
}
.google_trends li {
  display: inline-block;
  padding: 0 5px;
}
.google_trends .trend_date,
.google_trends .trend_text {
  padding: 0 10px;
}
.google_trends .trend_date {
  font-size: .8em;
}


/* Time */
.time {
  float: right;
}
.time .clock {
  text-align: center;
}
.time .date {
  text-align: right;
  padding-right: 10px;
}
.time .date {
  font-weight: 200;
}

/* Timer */
.timer {
  float: right;
}
.countdown_timer {
  position: absolute;
  margin-top: -190px;
  right: 5px;
  height: 240px;
  width: 240px;
  border: 2em solid #FFEA82;
  border-radius: 50%
}
.countdown_timer h2 {
  margin-top: 125px;
  padding-left: 45px;
}


/* Weather */
.weather {
  display: inline-block;
  /*position: absolute;*/
  width: 25%;
  max-width: 400px;
}

.weather_current * {
  display: inline-block;
}

.weather_current_temp {
  padding-right: 30px;
}

.weather_current_icon {
  height: 45px;
  width: auto;
  transform: translateY(5px);
}

.weather_current_summary {
  width: 30%;
  min-width: 600px;
}


/* News Headlines */
.news {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 30%;
  min-width: 200px;
}
.news_title {
  font-weight: 400;
}
.news_abstract {
  font-weight: 300;
}


/* Twitter */
.twitter {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  height: 60%;
  min-height: 300px;
  width: 25%;
  min-width: 250px;
  list-style-type: none;
  overflow: hidden;
}
.twitter_tweet {
  padding: 15px 0;
}

.twitter_user {
}
.twitter_img {
  max-width: 100%;
}
.twitter_time {
  padding-left: 5px;
}
.twitter_info {
  font-size: .8em;
  padding-bottom: 8px;
}
/* Random time and margin-top to scan through all(?) tweets. */
.twitter .twitter_tweet:first-child {
  animation-duration: 350s;
  animation-name: scroll;
  animation-timing-function: linear;
}

@keyframes scroll {
  from {
    margin-top: 0;
  }

  to {
    margin-top: -3000%;
  }
}
